<mat-card>
    <mat-card-title>Excluir Usuário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [value]="usuario.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="email"
                [value]="usuario.email" name="email" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Category"
                [value]="usuario.tipo" name="tipo" disabled>
        </mat-form-field>
       

    </form>
    <button mat-raised-button (click)="deleteUsuario()" color="warn">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
    
   
</mat-card>

