.home .title {
    width:95%;
    margin: 1rem auto;
    
}

.home .subtitle {
    font-size: 1.1rem;
}

@media(max-width:450px)
    .home{
        width: 70%;
    }

@medi(max-width:770px){
    .home{
        width:80%;
    }
}